langchain==0.2.16
ipykernel
python-dotenv
langchain_community==0.2.16
pypdf
bs4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
langchain-openai==0.1.25
chromadb
langchain-community==0.2.16
langchain_ollama==0.1.0
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
posthog<4
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi==0.99.1
uvicorn
langserve
httpx<0.28
sse_starlette==1.6.5
pydantic==1.10.13
